
<% provide(:title,"Home") %>



<div class=" center ">
	
  <h1>Welcome to Speakmedicare.com</h1>

  <h2>
    One stop shop for all your health problems<br>
    <a href="http://www.speakmedicare.com/">Speakmedicare.com</a>
    
  </h2>

  <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
</div>

