<footer class="footer">
  <small>
    developed by <%= link_to "Mediconsultant pvt ltd","www.Mediconsultant.co.in" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About us",   'about' %></li>
      <li><%= link_to "Contact us", 'contact' %></li>
     
    </ul>
  </nav>
</footer>